div.block_ {
    display: block;
    width: 20%;
    height: auto;
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: 1em;
    padding: .5rem;
    background-color: transparent;
    vertical-align: middle;
    overflow: visible;
    border-radius: 1rem;
    transition: scale(1);
    text-decoration: none;
    position: relative;
}

a,
a:hover {
    text-decoration: none;
}

div.block_:hover {
    transform: scale(1.005);
    border: 1px solid orange;
}

div.img_ {
    width: 100%;
    height: 200px;
    top: 0;
    left: 0;
    /*bottom: 0;*/
    vertical-align: middle;
}

div.img_ img.imgg_ {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    vertical-align: middle;
    position: relative;
}

div.name_ {
    padding-top: .5em;
    color: rgb(233, 105, 0);
    background-color: transparent;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    display: inline-block;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 18px;
}